# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment variables
.env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.venv
.env

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log